.footer {
    padding: 25px;
}

.footer p {
    text-align: center;
    line-height: 27px;
}

.footer span {
    background: -webkit-linear-gradient(-70deg, rgb(243, 116, 255) 0%, rgb(255, 159, 100) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-media-links > div {
    margin: 5px 10px;
}

.contract-link {
    text-decoration: underline;
    text-decoration-color: #64acff;
    word-break: break-all;
}
